* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.leftSide {
  max-width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.rightSide {
  max-width: 60%;
  padding: 20px;
}

.shelterImage {
  width: 100%;
  height: auto;
}

.AppHeader {
  color: #257878;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
  margin-top: 25px;
}

.par {
  color: #267779;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 60%;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button {
  display: flex;
  width: 424px;
  padding: 16px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: linear-gradient(90deg, #227175 0%, #126A8C 100%);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;  
}

.buttonsContainer a {
  text-decoration: none;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
}

.button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}