/* NearbyShelters.css */

.shelters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
  }
  
  .shelter-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 500px;
  }
  
  .shelters-photo {
    max-height: 300px;
    width: auto;
  }
  
  .shelter-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .search-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .button {
    display: flex;
    width: 424px;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: linear-gradient(90deg, #227175 0%, #126A8C 100%);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;  
  }