.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15708F;
  padding: 10px 30px;
  width: 90em;
  margin: auto;
  border-radius: 15px;
}

.logo {
  height: 27px;
  margin-left: 10px;
}

.navItem {
  color: white;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.activeNavItem {
  background: rgba(255, 255, 255, 0.3);
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.leftSide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  color: white;
  height: 27px;
}
